@page
@model VistasCamunda.Pages.ColaboradorContratadoModel
@{
    ViewData["Title"] = "Colaborador Contratado";
}
<body>

    <div class="container mt-5 d-flex justify-content-center">

        <div class="col-md-12 mt-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title d-flex justify-content-center" >Felicidades @Model.Nombres, Bienvenido al equipo SASOFTCO</h3>
                </div>
                <div class="card-body">
                    <img src="img/LogoSasoftco.png" alt="Logo de mi sitio web">
                </div>
                <div class="card-footer">
                    <form method="post">
                        <div class="form-group d-flex justify-content-center">

                            <button class="btn btn-primary" type="submit" asp-page-handler="OnPost"> Inicio </button>

                        </div>
                    </form>

                </div>
            </div>
        </div> 
</div>



</body>